*{
    padding:0;
    margin: 0;
}

body{

    font-family: sans-serif;

}
.crud{
    width: 80%;
    margin: auto;

}
.head{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}
input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    margin: 4px 0;
    border-radius: 10px;
    padding: 5px;
    background: #111;
    color: rgb(255, 255, 255);
    transition: .5s;
    font-size: large;
    
}
input:focus{
    background: rgb(58, 57, 57);
    transform: scale(1.1);

}
.price input{
    width: 20%;
}
#total{
    background: rgb(208, 22, 22);
    padding: 8px 5px;
    border-radius: 4px;
    color: #fff;
    font-size: large;
}
#total::before{
    content: 'Total';
}
button{
    width: 100%;
    height: 40px;
    border: none;
    cursor: pointer;
    background: rgb(51, 97, 149);
    color: #fff;
    border-radius: 10px;
    font-size: 20px;
    transition: 0.5s;

}
button:hover{
    background: rgb(26, 38, 56);
    letter-spacing: 1px;
}
.btnSearch{
    display: flex;
    justify-content: space-between;
}
.btnSearch button{
    width: 45%;
}
#deleteAll{
    margin:20px 0px ;
}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
table th{
    text-transform: uppercase;
}
th, td{
    padding: 5;
}
